.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
  color: #fff;
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
